In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

df = pd.read_csv('../data/external/leitos.csv', sep=',', parse_dates = ['dataNotificacao'])

/home/maria_lobo/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df['dataNotificacao'] = pd.to_datetime(df['dataNotificacao'], format="%Y-%m-%dT%H:%M:%S.%f", errors='coerce')


df['mes'] = pd.to_datetime(df['dataNotificacao']).dt.month

In [4]:
leitos_final = df.groupby(['cnes','mes'],as_index=False)[['ocupacaoConfirmadoCli', 'ocupacaoConfirmadoUti','saidaConfirmadaObitos','saidaConfirmadaAltas']].sum()

In [5]:
leitos_final

,cnes,mes,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,saidaConfirmadaObitos,saidaConfirmadaAltas
0,94.0,6.0,0.0,0.0,0.0,0.0
1,396.0,1.0,149.0,23.0,0.0,3.0
2,396.0,2.0,32.0,34.0,1.0,4.0
3,396.0,3.0,369.0,121.0,1.0,32.0
4,396.0,4.0,583.0,234.0,5.0,46.0
...,...,...,...,...,...,...
53888,NAO POSSUI,5.0,0.0,0.0,0.0,0.0
53889,coren 337823,4.0,26.0,11.0,0.0,7.0
53890,coren 337823,5.0,376.0,226.0,2.0,33.0
53891,sn,4.0,1.0,0.0,0.0,0.0
53892,sn,5.0,1.0,0.0,0.0,0.0

In [7]:
leitos_final = leitos_final[pd.to_numeric(leitos_final['cnes'], errors='coerce').notnull()]
leitos_final['cnes'] = leitos_final['cnes'].astype(int)

In [12]:
leitos_final.to_csv('../data/processed/leitos_final.csv',index=False)