In [63]:
import pandas as pd
import numpy as np


df = pd.read_csv('..\data\external\populacao-se.csv', encoding='latin1')

In [64]:
df.columns

Index(['Município', 'Menor 1 ano', '1 a 4 anos', '5 a 9 anos', '10 a 14 anos',
       '15 a 19 anos', '20 a 29 anos', '30 a 39 anos', '40 a 49 anos',
       '50 a 59 anos', '60 a 69 anos', '70 a 79 anos', '80 anos e mais',
       'Total'],
      dtype='object')

In [65]:
df['0 a 19'] = df['Menor 1 ano'] + df['1 a 4 anos'] + df['5 a 9 anos'] + df['10 a 14 anos'] + df['15 a 19 anos']
df['20 a 39'] = df['20 a 29 anos'] + df['30 a 39 anos'] 
df['40 a 59'] = df['40 a 49 anos'] + df['50 a 59 anos']
df['60+'] = df['60 a 69 anos'] + df['70 a 79 anos'] + df['80 anos e mais']

In [66]:
temp = df.drop(['Menor 1 ano','1 a 4 anos', '5 a 9 anos', '10 a 14 anos',
       '15 a 19 anos', '20 a 29 anos', '30 a 39 anos', '40 a 49 anos',
       '50 a 59 anos', '60 a 69 anos', '70 a 79 anos', '80 anos e mais',
       'Total'],1)

C:\Users\JOSHEN~1\AppData\Local\Temp/ipykernel_10112/2360469584.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  temp = df.drop(['Menor 1 ano','1 a 4 anos', '5 a 9 anos', '10 a 14 anos',

In [67]:
temp['Município'] = temp['Município'].str.replace('\d+', '')

C:\Users\JOSHEN~1\AppData\Local\Temp/ipykernel_10112/4083749206.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  temp['Município'] = temp['Município'].str.replace('\d+', '')

In [68]:
temp

                   Município  0 a 19  20 a 39  40 a 59    60+
0    Amparo de São Francisco     875      742      422    251
1                   Aquidabã    7661     6271     3970   2413
2                    Aracaju  182074   220435   131801  53391
3                      Arauá    3810     2998     1814    873
4               Areia Branca    6815     5820     3066   1463
..                       ...     ...      ...      ...    ...
70                    Siriri    3318     2585     1470    796
71                     Telha    1158     1013      570    265
72            Tobias Barreto   18280    15445     9676   5375
73             Tomar do Geru    5275     4137     2276   1170
74                   Umbaúba    9441     7712     4236   1834

[75 rows x 5 columns]

In [69]:
temp.to_csv('populacao_faixa_etaria.csv',index=False,encoding='latin1')